html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-color: #131313; */
  /* color: #fff; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

ul {
  background-color: #14d5de42;
  border-radius: 8px;
  list-style: none;
  text-align: left;
  padding: 14px;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.cWLPpO {
  margin-top: 48px;
  text-align: -webkit-center;
  font-size: 0.8em;
  padding: 0px !important;
}

.hide {
  display: none
}
.popup {
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
}